main{
    background-color: white;
}

.formContainer{
    padding: 0;
    margin: 0;
    min-width: 100%;
}

#newCertificateForm{
    width:100%;
    padding: 0 25%;
    min-width: 300px;
    background-color: white;
}

#newCertificateTitle {
    min-width: 100%;
    background-color: #cdcdcd;
    margin: 0;
    padding: 25px 25%;
    color: white;
    font-size: x-large;
}

#saveSubmit{
    background-color: #6cd087;
}

#newCertificateForm label a{
    text-align: center;
}